<?xml version="1.0"?>
<model>
  <name>chessboard</name>
  <version>1.0</version>
  <sdf version="1.7">chessboard.sdf</sdf>

  <author>
    <name>Jan Rosell</name>
    <email>jan.rosell@upc.edu</email>
  </author>

  <description>
    A 4m x 4m chessboard for Gazebo Sim (Harmonic).
  </description>
</model>
